
@font-face {
  font-family: Heycomic;
  src: url('Hey Comic.otf');
}

@font-face {
  font-family: doodlegum;
  src: url('DoodleGum.ttf');
}

@font-face {
  font-family: wallnotes;
  src: url('wallNotes.otf');
}

@font-face {
  font-family: likeeat;
  src: url('LikeEat.otf');
}

@font-face {
  font-family: starbold;
  src: url('StarBold.otf');
}

@font-face {
  font-family: coolvetica;
  src: url('coolveticarg.otf'),url('coolveticargit.otf'),url('coolveticacrammedrg.otf'),url('coolveticacondensedrg.otf');
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body {
  background-image: url("../img/fondo.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height:100vh;
  font-family: coolvetica;
}

.hexagons{
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center; /* Center the text horizontally */
  justify-items: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.hexagons li{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(0, 42, 133);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  box-shadow: 0px 5px 3px 1px rgba(0, 125, 202);
}

.hexagons li a{
  text-decoration: none;
  color: black;
}

#pcondiciones{
  font-size: 12px;
}

@media (min-width: 0px) and (max-width: 600px) { 
  .hexagons{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }

  .hexagons li{
    width: 150px;
    height: 150px;
  }

  #pcondiciones{
    font-size: 9px;
  }

  #titlecalidad{
    font-size: 12px;
  }
}