
@font-face {
  font-family: Heycomic;
  src: url('Hey Comic.otf');
}

@font-face {
  font-family: wallnotes;
  src: url('wallNotes.otf');
}

@font-face {
  font-family: coolvetica;
  src: url('coolveticarg.otf'),url('coolveticargit.otf'),url('coolveticacrammedrg.otf'),url('coolveticacondensedrg.otf');
}


.ocultar{
  display: none;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body {
    background-image: url("../img/fondo.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height:100vh;
  }


  /** finalllllllllllllll*/


/**

final texto interactivo

*/
#contenido_directorio{
    margin-top:0%;
    background-color: rgb(255, 255, 255);
    opacity:0.9;
    filter: alpha(opacity=100);
    font-size:13px;
    color:black;
    font-family: coolvetica;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }


.btndir {
    cursor: pointer;
    position: relative;
    padding: 3px 30px;
    background: white;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    color: black;
    box-shadow:2px 2px 3px hsl(0, 0%, 15%);
    align-items: center;
    opacity: 0.75;
  }

  .btndir a, .btndir a:visited{
    text-decoration: none;
    color:black;
  }
  .btndir:after, .btndir:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    border-radius:1.5%;
    transition: all 1s;
  }
  .btndir:after {
    top: -1px;
    left: -1px;
    border-radius:5%;
    border-top:5px solid rgb(0, 48, 80);
    border-left: 5px solid rgb(0, 0, 27);
  }
  .btndir:before {
    bottom: -1px;
    right: -1px;
    border-radius:5%;
    border-bottom: 5px solid rgb(0, 48, 80);
    border-right: 5px solid rgb(0, 0, 27);
  }
  .btndir:hover {
    border-radius:5%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 1;
  }
  .btndir:hover:before, .btndir:hover:after {
    width: 100%;
    height: 100%;
  }
  
  .data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left:1%;
    background-color: rgb(201, 216, 235);
    padding: 0.6%;
    border-radius: 5px;
  }

.data-container a{
    text-decoration: none;
}

#busqueda_dir{
    margin-left: 0%;
    margin-top: 2%;
    margin-right: 3%;
}


#divtable{
  width: 100%; /* Occupy the full width of the screen */
  max-height: 65vh; /* Limit the height to the viewport height */
  overflow: auto; /* Enable both horizontal and vertical scrolling when necessary */
  white-space: nowrap; /* Prevent line breaks for horizontal content */
}

#detalletable{
    font-size: 16px;
    color: rgb(0, 99, 197);
    font-family: coolvetica;
}

#valorsubtable{
  font-size: 14px;
  color: rgb(0, 7, 57);
  font-family: coolvetica;
}

/** 

codigo para celulares ajustar pagina para los celulares

*/
@media (min-width: 0px) and (max-width: 550px) { 
    #detalletable{
        font-size: 9px; 
   }
   #valorestabla{
    font-size: 9px;
  }
  #divtable{
      margin-left:0;
  }
  #busqueda_dir{
      margin-left: 0;
  }

  .data-container {
      margin-left:0;

    }

    #ref_ka{
      margin-left: 0;
  }

    .no-movil{
      display: none;
    }

}

#listanav{
  text-decoration: none;
  color: #011541;
  border-radius: 20px;
  border-bottom: solid #002646 0.1em;
  box-shadow: 0px 2px 5px 1px rgb(0, 75, 126);
  background-color:#ffffff;
  opacity: 0.8;
  font-family: coolvetica;
  font-size: 12px;
}

#listanav:hover{
  text-decoration: none;
  color: #4383b8;
  border-bottom: solid #002646 0.1em;
  box-shadow: 0px 2px 5px 1px rgb(0, 75, 126);
  background-color:#002741;
  color: white;
  opacity: 1;
  font-family: coolvetica;
}
/** 

final del codigo para celulares ajustar pagina para los celulares

*/



/** 

parte para permisos

*/



#estado_permisos{
  width: 22px;
  height: 22px;
}

#tablapermisos{
    box-shadow: 0 0 15px rgb(0, 32, 59); 
}

.my-custom-scrollbar {
  position: relative;
  height: 50vh;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

#divbuttonpermisos{
    margin-top: 1%;
}

#divtablapermisos{
    font-family:coolvetica;
    font-size: 13px;
}

#divbuscaruser{
    font-family:coolvetica;
    font-size: 11px;
    margin-top: 1%;
}

#idnavtablist nav div button{
    color: #011541;
}


#idbeneficotable{
    font-size:10px;
    color: #af0d79;
}

#acciones_permisos{
    width: 22px;
    height: 22px;
}

#permisosbtnagregar{
    width: 20px;
    height: 20px;
}
#lidesactivado{
  background-color: #999999;
  opacity: 0.5;
}
#formnewpermiso{
    margin-right: 2%;
    margin-left: 2%;
}

#formnewpermiso p{
    font-family: coolvetica;
    font-size: 10px;
    color: rgb(0, 38, 59);
}

#formnewpermiso button{
    margin-top:1%;
    align-self: center;
    align-content: center;
    align-items: center;
}


#jstree{
  overflow:auto;
  border: solid #002646 0.1em;
  box-shadow: 3px 3px 5px 2px rgb(0, 75, 126);
  background: rgb(255, 255, 255);
  height:28em;
  opacity:0.9;
}
#jstree ul li a,#jstree ul li a:visited{
  font-size:14px;
  font-family:coolvetica;
}

#id_contenidojstree{
  position: relative;
  align-items: center;
  align-content: center;
  border-style: groove;
  justify-content: center;
  border: solid #002646 0.1em;
  box-shadow: 0px 3px 5px 0px rgb(0, 75, 126);
  background: rgb(255, 255, 255);
  opacity:1;
}

#id_contenidojstree iframe{
  position: middle;
  align-items: center;
  align-content: center;
  justify-content: center;
  width:95%;
  height:30em;
  margin: 1em;
  box-shadow: 0px 5px 10px 2px rgb(0, 0, 0);
}

#search-input{  
  border: solid #002646 0.1em;
  box-shadow: 1px 1px 3px 1px rgb(0, 75, 126);
  background-color:#ffffff;}

#tabla_convenios{
  font-size: 15px;
}

#promociondiv{
  align-content: center;
  align-items: center;
  text-align: center;
}

#promocionimagen{
  align-content: center;
  align-items: center;
  height: 300px;
}