{% extends "layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="col-12 container-fluid">
    <h3 class="text-secondary text-center">Agregar Efectivo</h3>
    <hr>
    <div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="fecha" >Fecha:</span>
            <input required type="date" name="fecha" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="id_fecha">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="id_email" >Bodega:</span>
            <select required type="email" name="bodega" class="form-select" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="id_bodega">
                <option selected></option>
                {% for bodega in bodegas%}
                <option value="{{bodega.id}}">{{bodega}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="id_banco" >Banco:</span>
            <select required type="email" name="banco" class="form-select" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="id_banco">
                <option selected></option>
                <option value="BBVA">BBVA</option>
                <option value="COLPATRIA">COLPATRIA</option>
                <option value="DAVIVIENDA">DAVIVIENDA</option>
                <option value="BANCO DE BOGOTA">BANCO DE BOGOTA</option>
                <option value="BANCOLOMBIA">BANCOLOMBIA</option>
                <option value="DYJON">DYJON</option>
                <option value="TESORERIA (JUAN GUILLERMO)">TESORERIA (JUAN GUILLERMO)</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="id_telefono" >Valor:</span>
            <input required type="number" name="valor" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="id_valor">
          </div> 
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="id_observacion" >Observacion:</span>
            <textarea required type="text" name="observacion" class="form-control" id="id_observacion"></textarea>
          </div>
          <div class="mb-3 mt-2">
            <input class="bg-info form-control mt-2" type="file" name="imagen" id="id_archivo" accept="image/*">
          </div>
        <button class="btn btn-secondary" type="submit" id="butoncajasave">Guardar</button>
      </form>
    </div>
</div>
<script>
  document.getElementById("butoncajasave").addEventListener("click", function(event) {
    event.preventDefault(); // Prevenir el envío predeterminado del formulario

    var button = this;
    button.disabled = true;
    button.innerHTML = "Validando...";

    var form = button.closest("form"); // Obtener el formulario más cercano al botón

    // Realiza la validación del formulario
    if (formIsFilled(form)) {
      // El formulario está lleno y es válido, puedes enviarlo
      form.submit();
    } else {
      // El formulario no está lleno, muestra un mensaje de error o realiza otra acción
      button.disabled = false;
      button.innerHTML = "Guardar"; // Restablece el texto del botón
      alert("Por favor, completa todos los campos del formulario.");
    }
  });

  function formIsFilled(form) {
    // Realiza la validación personalizada aquí
    // Verifica que todos los campos necesarios estén completos

    // Por ejemplo, puedes verificar que los campos de entrada no estén vacíos
    var inputs = form.querySelectorAll("input[type=text], input[type=date], input[type=email], input[type=number], textarea, select, input[type=file]");
    for (var i = 0; i < inputs.length; i++) {
      if (!inputs[i].value) {
        return false; // Si encuentra un campo vacío, el formulario no está lleno
      }
    }

    return true; // Todos los campos requeridos están llenos
  }
</script>


{% endblock %}