
{% extends "layout.html" %}
{% block content %}
{% load static %}

<div class="col-12">

    <h5 class="m-2 text-secondary">Unir PDFS</h5>
    <hr>
    <form method="post" enctype="multipart/form-data" class="p-3" id="pdfForm">
      {% csrf_token %}
      <div class="mb-3">
        <label for="pdf_file" class="form-label">Selecciona los PDF:</label>
        <input type="file" class="form-control" id="pdf_files" name="pdf_files" accept=".pdf" required multiple>
      </div>
      <button type="submit" class="btn btn-primary" id="convertBtn">Convertir</button>
    </form>
</div>
{% endblock %}