{% extends "layout.html" %}
{% load static %}
{% block content %}
{% load humanize %}
<div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 col-12">
</div>
<div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-12" id="contenido_directorio" >
    
    <div class="container-fluid" id="divbuttonpermisos">
        <a href="{% url 'guardar_promocion'%}" class="btn btn-outline-primary" role="button" ><img src="{% static 'img/agregar.png'%}" id="permisosbtnagregar"> Crear Promoción</a>
        <a class="btn btn-outline-success" href="{% url 'exportar_promociones' %}">Exportar Promociones</a>
    </div>
    <div class="table"  id="divtable">
        <table class="table table-hover" id="tabla_directorio">
            <thead>
                <tr>
                    <th class= " btn-dark">#</th>
                    <th class=" btn-dark">Nombre de promocion</th>
                    <th class=" btn-dark">Fecha inicial</th>
                    <th class=" btn-dark">Fecha final</th>
                    <th class=" btn-dark">Valor</th>
                    <th class=" btn-dark">Imagen</th>
                    <th class=" btn-dark">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in promociones %}
                <tr id="tabla_convenios">
                    <td>{{p.contador}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.fecha_inicial}}</td>
                    <td>{{p.fecha_final}}</td>
                    
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="hidden" name="idform" value="{{p.id}}">
                                {% if p.valor > 0 %} 
                                <input  required class="form-control form-control-sm text-primary" name="valor" value="{{p.valor | intcomma}}">
                                <button class="btn btn-sm  btn-outline-primary" type="submit">Editar</button>
                                {% else %}
                                <input  required class="form-control form-control-sm text-success" name="valor">
                                <button class="btn btn-sm  btn-outline-success" type="submit">Guardar</button>
                                {% endif %}
                              </div>
                        </form>
                    </td>
                    <td>
                        <a onclick="mostrar_foto({{ p.id }})" href="#">ver foto</a>
                        <img src="{{ p.banner.url }}" alt="imagen_banner" id="imgpromo_{{p.id}}" style="display: none; height:150px;">  
                    <td>
                        <a href="../ver_promocion/{{p.id}}" tittle="ver"><img  src="{% static 'img/ver.png' %}" tittle="Descargar" id="acciones_permisos"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
</div>
{% endblock %}