{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 col-12"></div>
<div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-12" id="contenido_directorio" >
    <div class="container-fluid" >       
        <div class="data-container">
            <a href="{% url 'ver_promociones'%}" title="Promocion"><span class="btndir">{{promocion.nombre}}</span></a>
        </div>         
    </div>
    <div id="promociondiv">
        <img id="promocionimagen" src="{{promocion.banner.url}}" alt="promocion">
    </div>
    <h5>Desde {{promocion.fecha_inicial}}  hasta: {{promocion.fecha_final}}</h5>
    <div>
        <p>
            {{promocion.descripcion}}
        </p>
    </div>
</div>
<div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12 col-xs-12 col-12"></div>
{% endblock %}