
{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
    <h3 class="text-secondary m-2">Beneficios Kosta Azul</h3>
    <hr>
    <ul class="hexagons">
        {% for b in beneficios %}
            <li id="hexagono" class="p-2 animate__animated animate__backInDown animate__slower">
                <a href="{% url 'nuevo_permiso' %}">
                            {% if b.id > 10 %}
                            <img class="hexagon-avatar-img" src="../../static/img/beneficio10.png" style="width: 45px;">
                            {% else %}
                            <img class="hexagon-avatar-img" src="../../static/img/beneficio{{b.id}}.png">
                            {% endif %}
                            
                            <h6 class="text-info" id="titlecalidad">{{b.nombre}} | {{b.detalle}}</h6>
                            <hr class="text-white">
                            <p class="text-white" id="pcondiciones">{{b.condiciones}}</p>
                </a>	
            </li>
        {%endfor%}
    </ul>
</div>
{% endblock %}