
{% extends "layout.html" %}
{% block content %}
{% load static %}
<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12" id="contenido_directorio" >
    <div class="container-fluid">
        <h3 class="text-secondary m-1">Horario Porteria</h3>
        <hr>
        <a href="{% url 'agregar_porteria_horarios'%}" class="material-symbols-outlined btn btn-sm btn-primary aling-center m-1" role="button" title="Nuevo Horario">
            add_circle
        </a>
        <form method="post">
            {% csrf_token%}
            <div class="input-group mb-3">
                <span class="input-group-text">Año a Consultar</span>
                <input type="number" name="anio" id="anio" class="form-control">
                <span class="input-group-text">Mes a Consultar</span>
                <select  class="form-select" id="mes" name="mes">
                    <option disables>---</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <button class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div id="calendario"></div>
    </div>
    
</div>


<script>

    document.addEventListener('DOMContentLoaded', function() {
        console.log('entro');
      var calendarEl = document.getElementById('calendario');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale:'es',
        events: [
                {% for calendario in horarios.all %}
                    {% for  horario in calendario.horarios.all %}   
                         {
                            title: "{{horario.usuario.first_name}} {{horario.usuario.last_name}}",
                            descripcion: "{{horario.horaentrada}} A {{horario.horasalida}} -> {{horario.horasreales}}h",
                            start: '{{ calendario.fecha|date:"Y-m-d" }}',
                        },
                    {% endfor %}
                {% endfor %}
            ],
             // Color de fondo del calendario
            eventBackgroundColor: '#0C0254', // Color de fondo de los eventos
            eventTextColor: 'white', // Color del texto de los eventos   
            headerToolbar: {
                center: '',
                end: ''
            }, 
            eventContent: function(arg) {
                return {
                    html: '<div class="fc-content">' +
                            '<div class="fc-title">' + arg.event.title + '</div>' +
                            '<div class="fc-description" style="background-color:white; color: black;font-size:10px">' + arg.event.extendedProps.descripcion + '</div>' +
                          '</div>'
                };
            },
      });
      calendar.gotoDate('{{horarios.0.fecha |date:"Y-m-d"}}');
      calendar.render();
    });

  </script>
{% endblock %}
